/* Force landscape orientation via CSS rotation */
/* When phone is in portrait, rotate entire app 90 degrees */

@media screen and (orientation: portrait) {
  html, body {
    overflow: hidden;
    touch-action: none;
  }

  #root {
    position: fixed;
    width: 100vh;
    height: 100vw;
    transform: rotate(90deg);
    transform-origin: bottom left;
    top: -100vw;
    left: 0;
    overflow: hidden;
  }
}

/* Ensure no scrolling in landscape either */
@media screen and (orientation: landscape) {
  html, body {
    overflow: hidden;
  }
}
