/* Force landscape on mobile by rotating content in portrait mode */
@media screen and (max-width: 932px) and (orientation: portrait) {
  html {
    overflow: hidden;
  }

  body {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
  }

  #root {
    position: fixed;
    top: 0;
    left: 0;
    /* Swap width and height */
    width: 100vh;
    height: 100vw;
    /* Rotate and reposition */
    transform: rotate(90deg);
    transform-origin: top left;
    /* Move into view after rotation */
    left: 100vw;
    overflow: hidden;
  }
}
